<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="static/cmx.css" type="text/css">

<script type="text/javascript" src="static/cmx.js" charset="utf-8"></script>
<script type="text/javascript" src="static/saveSvgAsPng.js" charset="utf-8"></script>
{#<script>function saveAsPng(){#}
{#    saveSvgAsPng(document.getElementsByClassName('cmx-canvas')[0], "diagram.svg");#}
{#  }#}
{##}
{#</script>#}
<style>.cmx-user-scene4 .cmx-text-border .cmx-path {stroke: orange}</style>

<body>
{#<button onclick="saveAsPng()">CLICK ME</button>#}
<div style="max-width:900px; -webkit-transform:rotate(0deg)">
    {% for scene in range(scenes) %}
        {% set path = 'scene%s.html' % (scene + 1) %}
        {% include path %}
    {% endfor %}

</div>
</body>