<scene id="scene{{ id2 }}">
    <drawing t="translate(0,31)">
        <line stroke="black">
            <point x="0" y="0"></point>
            <point x="250" y="20"></point>
        </line>
    </drawing>
    <actor t="translate(71,19) rotate(-2)"
           pose="-11,9|-1,100|-11,85|-11,58|-11,79|-11,59|-16,34|-21,9|-6,34|-1,9|-18,65|-18,45|-6,65|13,69">
        <bubble t="translate(-3,0)" pose="0,0|-12,22|-83,104|45,21|-37,182|-58,162">
            {% for m in messages[id2-1] %}
                {% if m['user'] == user1 %}
                    <tspan x="0" y="{{ 2*loop.index-5 }}em">{{ m['text'] }}</tspan>
                {% endif %}
            {% endfor %}

            </tspan></bubble>
    </actor>
    <actor t="translate(159,49)"
           pose="28,1|30,109|28,91|28,81|28,71|28,51|18,31|15,-16|33,26|38,-16|23,71|18,51|38,71|38,51">
        <bubble t="translate(-2,-9)" pose="0,0|7,33|14,66|-63,30|-52,62|-94,113">
            {% for m in messages[id2-1] %}
                {% if m['user'] == user2 %}
                    <tspan x="0" y="{{ 2*loop.index-7 }}em">{{ m['text'] }}</tspan>
                {% endif %}
            {% endfor %}
        </bubble>
    </actor>
</scene>